# Bỏ qua thư mục node_modules trong back-end và front-end
/back-end/node_modules/
/front-end/node_modules/

# Bỏ qua các file và thư mục của Yarn
/front-end/yarn.lock
/back-end/yarn.lock
/.yarn/
